@font-face {
    font-family: nb;
    src: url('./assets/NBInternationalProBoo.ttf');
}
@font-face {
    font-family: rj;
    src: url('./assets/Rejouice-Headline.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nb;    
}

html,body{
    height: 100%;
    width:100%;
}


.page1{
    height:100vh;
    width:100%;
    background-color: #dadada;
    position: relative;
}

.page1>video{
    height:100%;
    width:100%;
    object-fit: cover;
    position: absolute;
}

.cursor{
    height: 7.5vw;
    width: 7.5vw;
    background-color: #e0733c;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 50;
    font-size: large;
    transform: translate(-50%,-50%);
}

.page1-content{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2vw 3vw;
}

nav>h3{
    font-size: 1.4vw;
    font-weight: 100;
}

.page1-content>h1{
    font-family: rj;
    font-size: 27vw;
    font-weight: 100;
    line-height: 20vw;
}

.page1-content>h1>span{
    font-family: rj;
}

.page2{
    height: 100vh;
    width:100%;
    position:relative;
    padding:5vw 2.8vw;
}

.page2Top{
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 1.2vw;
    margin-bottom: 1vw;
    border-bottom: 1px solid black;
}

.page2Top>h3{
    font-size:1.7vw;
    font-weight:500;
}

.page2Top>h4{
    font-size:1.7vw;
    font-weight:500;
}

.elem{
    overflow:hidden;
}

.elem>h1{
    font-size: 4.2vw;
    font-weight: 400;
}

.page3{
    min-height: 100vh;
    width:100%;
    position:relative;
    padding:3vw;
}

.page3Top{
    text-align: center;
}

.page3Top>h4{
    margin-bottom: 1vw;
    font-size:1vw;
    font-weight: 500;
}

.page3Top>h4>span{
    font-size:0.7vw;
    background-color: black;
    color:white;
    padding: 4px 10px;
    border-radius: 10px;
}

.page3Top>h2{
    font-size: 4vw;
    font-weight: 500;
}

.page3Elem{
    height:75vh;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top:8vw;
}

.page3Elem>.box{
    height: 100%;
    width:32.5%;
    position: relative;
}

.page3Elem>.box>video{
    height:100%;
    width:100%;
    object-fit: cover;
    object-position: center;
}

.page3Elem>.box>img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all linear 0.8s;
}

.page3Elem>.box:hover> img{
    opacity:0;
}

.page4{
    height: 80vh;
    width:100%;
    position:relative;
    padding:5vw 2.8vw;
    margin-bottom: 12vh;
}

.page4Top{
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 1.2vw;
    margin-bottom: 1vw;
    border-bottom: 1px solid black;
}


.page4Top>h4{
    font-size:1.7vw;
    font-weight:500;
}

.elem2{
    overflow:hidden;
}

.elem2>h1{
    font-size: 4.2vw;
    font-weight: 400;
}

.page5{
    height:100vh;
    width:100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page5>video{
    height: 70vw;
}

.page5>svg{
    position: absolute;
    height: 85%;
}

.text{
    position: absolute;
    font-weight: 100;
    color: white;
}

.text>h5{
    font-size: 5vw;
}

.text>h6{
    font-size: x-large;
}

.page6{
    height: 50vh;
    width: 100%;

}

.page6{
    height: 100vh;
    width:100%;
    position:relative;
    margin-top: 20vh;
    padding:5vw 2.8vw;
}

.page6Top{
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 1.2vw;
    margin-bottom: 1vw;
    border-bottom: 1px solid black;
}


.page6Top>h4{
    font-size:1.7vw;
    font-weight:500;
}

.elem3{
    overflow:hidden;
}

.elem3>h1{
    font-size: 4vw;
    font-weight: 400;
}

.page7{
    display: flex;
    font-size: xx-large;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    width: 100%;
    padding: 1vw 0;
}

.page7>.page7Top>h1{
    font-size:10vw;
    font-family: rj;
    font-weight: 100;
    padding-bottom: 10px;
    border-bottom: 1px black solid;
    width:99%;
    margin-left: 10px;
    
}

.swiperdiv{
    min-height: 50vh;
    width: 100%;
    margin-left:10px;
}

.image{
    height: auto;
    width: 19.5%;
}

.page7>.page7bottom{
    margin: 10rem ;
}

.page8{
    justify-content: space-between;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.938);
    color:#dadada;
}

.page8>.top{
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 40%;
    padding: 30px 30px;
}

.page8>.top>.right{
    display: flex;
}

.page8>.top>.left>h1{
    font-family: nb;
    font-weight: 100;
    font-size: x-large;
}

.page8>.top>.left>button{
    margin:20px 0;
    padding: 20px;
    font-size: large;
    color: #dadada;
    background-color: rgba(0, 0, 0, 0.938);
    border:#dadada solid 1px;
    border-radius: 10px;
}

.page8>.top>.left>button:hover{
    transition: linear 0.3s;
    background-color: #dadada;
}

.page8>.top>.left>button>a:hover{
    color: rgba(0, 0, 0, 0.938) ;
}

.page8>.top>.left>button>a{
    text-decoration: none;
    color: white;
    font-family: nb;
    font-weight: 200;
}

.page8>.top>.right>ul{
    padding-left: 7vw;
    list-style-type: none;
    margin:0;
}

.page8>.top>.right>ul>li{
    font-family: nb;
    font-size: 2.3vh;
    text-decoration: none;
}

.page8>.bottom{
    padding: 30px;
    margin: 0;
    display: flex;
    height: 10%;
    justify-content: space-between;
}

.page8>.bottom>.top2{
    display: flex;
    font-weight: 100;
    flex-wrap: wrap;
    margin: 0;
}

.page8>.bottom>.top1>h3{
    font-family: nb;
    font-size: large;
    font-weight: 100;
}

.page8>.bottom>.top2>h3{
    font-family: nb;
    font-size: large;
    font-weight: 100;
    padding-left: 6vw;
    
}

.page8>.final{
    height: 50%;
    align-items: center;
    display: flex;
    justify-content:center;  
}

.page8>.final>h1{
    font-size: 25vw;
    font-weight: 100;
    line-height: 40vh;
    padding-bottom: 10px;
}

.page8>.final>h1>span{
    font-family: rj;
    font-weight: 500;
    padding:10px;
}